{{! here we must show the parties i created }}
{{#each parties as |party| }}
 <div class="card justify-space-between">
  {{!-- we like cards but not the lines --}}
  <div class="row">
 <h3 class="card-title text-center">{{name}}</h3>
 {{!-- this is not going center --}}
 </div>
  <div class="col">
    <div class="col">
      <div class="col">
    <h4>Party created by: {{user.name}}</h4>
    <p>{{description}}</p>
    <p>{{format_date party_date}} {{format_time party_date}}</p>
    
    </div>
    </div>
  </div>
  
  </div>
{{/each}}


<script src="./js/profile.js"></script>
{{!-- <script src="../utils/helpers.js"></script> --}}