<div class="row mt-4">
<form id="new-party-on-form">
    <div class="col-md-6"></div>
    <h3>Make a New Party</h3>

    <div class="form-group">
      <label for="party-name">Party Name</label>
      <input
        type="text"
        class="form-control"
        id="party-name"
        placeholder="party-name"
      />
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input
        type="text"
        class="form-control"
        id="description"
        placeholder="description"
      />
    </div>

    <div class="form-group">
      <div class="mb-0">
        <label for="calendar" class="form-label">Select date and time</label>
        <input
          class="form-control form-control-solid"
          placeholder="Pick date & time"
          id="party-date"
        />
      </div>
      <button type="submit">Create Party</button>
    </div>
</form>
 </div>

 {{#each parties as |party| }}
 <div class="card justify-space-between">
  {{!-- we like cards but not the lines --}}
  <div class="row">
 <h3 class="card-title text-center">{{name}}</h3>
 {{!-- this is not going center --}}
 </div>
  <div class="col">
    <div class="col">
      <div class="col">
    <h4>Party created by: {{user.name}}</h4>
    <p>{{description}}</p>
    <p>{{format_date party_date}} {{format_time party_date}}</p>
    
    <button data-id={{id}} onclick="deleteParty(event)">Cancel Party?</button>
    </div>
    </div>
  </div>
  
  </div>
{{/each}}
{{! have a homepage where my events are and dashboard for community parties }}

<script src="./js/profile.js"></script>
{{!-- <script src="../utils/helpers.js"></script> --}}